// Software Engineers / Developers please dont change any styles here - please inform the
// UI Team if any

.min-w-50 {
  min-width: 50px;
  max-width: 50px;
}

.min-w-100 {
  min-width: 100px;
  max-width: 100px;
}

.min-w-110 {
  min-width: 110px;
  max-width: 110px;
}

.min-w-120 {
  min-width: 120px;
  max-width: 120px;
}

.min-w-130 {
  min-width: 130px;
  max-width: 130px;
}

.min-w-140 {
  min-width: 140px;
  max-width: 140px;
}

.min-w-145 {
  min-width: 145px;
  max-width: 145px;
}

.min-w-150 {
  min-width: 150px;
  max-width: 150px;
}

.min-w-155 {
  min-width: 155px;
  max-width: 155px;
}

.min-w-160 {
  min-width: 160px;
  max-width: 160px;
}

.min-w-170 {
  min-width: 170px;
  max-width: 170px;
}

.min-w-180 {
  min-width: 180px;
  max-width: 180px;
}

.min-w-190 {
  min-width: 190px;
  max-width: 190px;
}

.w-200 {
  width: 200px;
}

.min-w-200 {
  min-width: 200px;
  max-width: 200px;
}

.min-w-210 {
  min-width: 210px;
  max-width: 210px;
}

.min-w-215 {
  min-width: 215px;
  max-width: 215px;
}

.min-w-220 {
  min-width: 220px;
  max-width: 220px;
}

.min-w-240 {
  min-width: 240px;
  max-width: 240px;
}

.min-w-250 {
  min-width: 250px;
  max-width: 250px;
}

.min-w-260 {
  min-width: 260px;
  max-width: 260px;
}

.min-w-280 {
  min-width: 280px;
  max-width: 280px;
}

.w-300 {
  width: 300px;
  max-width: 300px;
}

.min-w-300 {
  min-width: 300px;
  max-width: 300px;
}

.min-w-320 {
  min-width: 320px;
  max-width: 320px;
}

.min-w-340 {
  min-width: 340px;
  max-width: 340px;
}

.min-w-360 {
  min-width: 360px;
  max-width: 360px;
}

.min-w-400 {
  min-width: 400px;
  max-width: 400px;
}

.min-w-420 {
  min-width: 420px;
  max-width: 420px;
}

.min-w-440 {
  min-width: 440px;
  max-width: 440px;
}

.min-w-460 {
  min-width: 460px;
  max-width: 460px;
}

.min-w-480 {
  min-width: 480px;
  max-width: 480px;
}

.min-w-500 {
  min-width: 500px;
  max-width: 500px;
}

//margins
.m-15 {
  margin: 15px;
}
.m-28 {
  margin: 28px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 40px;
}

.-ml-22 {
  margin-left: -28px;
  margin-bottom: -111px;
}

.mx-12 {
  margin: 0 12px;
}
.mx-15 {
  margin: 0 15px;
}
.mx-24 {
  margin: 0 24px;
}
.mx-28 {
  margin: 0 28px;
}
.mx-30 {
  margin: 0 30px;
}
.mx-40 {
  margin: 0 40px;
}

.my-8 {
  margin: 8 0px;
}
.my-15 {
  margin: 15px 0;
}
.my-28 {
  margin: 28px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-40 {
  margin: 40px 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mt-15 {
  margin-top: 15px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.ml-8 {
  margin-left: 8px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}

.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}

//paddings

.p-4 {
  padding: 4px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-24 {
  padding: 24px;
}
.p-28 {
  padding: 28px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}

.px-12 {
  padding: 0 12px;
}
.px-15 {
  padding: 0 15px;
}
.px-24 {
  padding: 0 24px;
}
.px-28 {
  padding: 0 28px;
}
.px-30 {
  padding: 0 30px;
}
.px-35 {
  padding: 0 35px;
}
.px-40 {
  padding: 0 40px;
}

.py-15 {
  padding: 15px 0;
}
.py-28 {
  padding: 28px 0;
}
.py-30 {
  padding: 30px 0;
}
.py-40 {
  padding: 40px 0;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-28 {
  padding-bottom: 28px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}

.pt-15 {
  padding-top: 15px;
}
.pt-28 {
  padding-top: 28px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}

.pl-8 {
  padding-left: 8px;
}
.pl-0 {
  padding-left: 8px;
}
.pl-13 {
  padding-left: 13px;
}
.pl-23 {
  padding-left: 23px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}

.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}

.h-128 {
  height: 128px;
}

.l-4 {
  left: 4px;
  position: relative;
}
